//=================================
//           Base style
//=================================

@import url("//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic");

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .01em;
}

body,
input,
select,
textarea {
  color: $txt-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    transition: color .2s linear;
    text-decoration: none;
    color: $link-hover-color;
  }
}

strong {
  font-weight: $font-weight-bold;
}

em {
  font-style: italic;
}

p {
  margin: 1em 0;
}

img {
  display: block;
  margin: 0 0 .6em;
  vertical-align: middle;
  max-width: 100%;
}

ul, ol {
  margin-left: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-base;
  line-height: 1.6em;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-size: 60%;
  }
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .9rem;
}

sub {
  font-size: .8em;
  position: relative;
  top: .5em;
}

sup {
  font-size: .8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  background: #eee;
  height: 1px;
  margin: 2em 0;

  &.major {
    margin: 3em 0;
  }
}

blockquote {
  border-left: solid 3px $quote-color;
  font-style: italic;
  margin: 1em 0 1em 0;
  padding-left: 1em;
}

q, blockquote {
  small {
    font-size: 60%;
  }
}

q {
  quotes: "«" "»";

  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

pre,
code {
  font-size: 95%;
  border-radius: 2px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
  padding: 0.2em 0.4em;
  background-color: $inline-code-bg-color;
}

pre {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 8px 12px;
  background-color: $code-bg-color;
  overflow-x: scroll;
  > code {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1.75em;
    font-size: inherit;
    background-color: transparent;
  }
}

table {
  display: block;
  width: 100%;
  margin: 1em 0;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;

  th {
    font-weight: bold;
  }

  th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }

  tr {
    border-top: 1px solid #ccc;

    &:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}

.clearfix {
  @extend %clearfix;
}

.txt-center {
  text-align: center;
}
