//=================================
//          Layout Styles
//=================================

/**
 * Container
 */

.container {
  max-width: $container-width;

  padding: {
    left: $gutter-padding;
    right: $gutter-padding;
  };

  margin: {
    left: auto;
    right: auto;
  };
}

/**
 * Site Header
 */

.site-header {
  position: relative;
  padding: .8em 0;
  border-bottom: 1px solid #eee;

  h1 {
    margin-top: 1em;

    small {
      display: block;
      color: #aaa;
    }
  }
}

.site-title {
  float: left;
  max-width: 80%;
  font-size: 1.2em;
  letter-spacing: -0.5px;
}

.site-nav {
    float: right;
    line-height: 2.2em;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $line-height-base;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($screen-phone) {
        position: absolute;
        top: 12px;
        right: 0;
        background-color: $bg-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.main-content {
  margin: 3em 0 0;
}

/**
 * .posts
 */

.post {
  .post-header {
    margin-bottom: 2em;
  }

  .post-title {
    margin-bottom: .6em;
  }

  .post-meta {
    font-size: .9rem;
    color: #aaa;
  }
}

.post-content {
  margin-bottom: 2em;

  h1, h2, h3, h4 {
    margin-top: 2.2em;
    margin-bottom: 1.2em;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 1.5em;
  }

  .post-meta {
    font-size: .9rem;
    color: #aaa;
  }
}

.site-footer {
  padding: 1.6em 0 2em;

  > hr {
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(#eee), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #eee, rgba(255,255,255,0));
    background: linear-gradient(to right, rgba(255,255,255,0), #eee, rgba(255,255,255,0));
  }

  > small {
    color: #aaa;
    font-size: .8em;
    display: block;
  }
}

.highlighter-rouge {
  margin: 1em 0;
}

.share {
  padding: 1.2em 0 0;
}

.social {
  text-align: center;
  margin: 2em 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0 .6em;
  }

  a {
    color: #999;
    text-decoration: none;
    font-size: 1.2em;
  }
}
